PORT= port number 
MONGODB_URI= databse url
JWT_SECRET=your_secure_jwt_secret
JWT_EXPIRES_IN=your_expiry_time
CLIENT_URL=forent_url


//Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
